/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../img/lightbox/close.png) url(../img/lightbox/loading.gif) url(../img/lightbox/prev.png) url(../img/lightbox/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../img/lightbox/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../img/lightbox/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../img/lightbox/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../img/lightbox/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
input,
textarea {
  outline: none;
}
a {
  text-decoration: none;
}
p {
  margin: 25px 0;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'PT Sans', 'Open Sans', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.top-panel {
  background: #000000;
  padding: 20px 0;
}
.top-panel .top-panel-phone,
.top-panel .top-panel-email,
.top-panel .top-panel-map,
.top-panel .top-panel-shedule {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
}
.top-panel .top-panel-map,
.top-panel .top-panel-shedule {
  margin: 0;
}
.top-panel .top-panel-phone:hover,
.top-panel .top-panel-email:hover {
  color: #ffffff;
}
.top-panel .top-panel-phone,
.top-panel .top-panel-map {
  margin-left: 115px;
}
.top-panel .fa {
  margin-right: 9px;
  font-size: 18px;
  vertical-align: middle;
}
header {
  background: #222222;
  padding: 20px 0;
}
.header-logo {
  margin-top: 9px;
}
.header-logo img {
  display: block;
}
.mobile-menu,
.mobile-clearfix {
  display: none;
}
.mobile-menu {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.mobile-menu svg {
  fill: #ffffff;
}
.mobile-menu:active svg,
.mobile-menu.opened svg {
  fill: #f5dc03;
}
.header-menu {
  margin-left: 120px;
  padding-top: 10px;
}
.header-menu li {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
}
.header-menu li:last-child {
  margin-right: -4px;
}
.header-menu a {
  position: relative;
  display: block;
  font-family: 'Roboto', 'Open Sans Light', sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  text-transform: lowercase;
}
.header-menu a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #f5dc03;
  transition: all 0.4s ease;
  transform: translateX(-50%) scale(0, 1);
}
.header-menu a:hover:after,
.header-menu a.current:after {
  transform: translateX(-50%) scale(1, 1);
}
.header-phone {
  text-align: right;
}
.header-phone-callback,
.header-phone-tel {
  color: #ffffff;
}
.header-phone-tel {
  display: block;
  font-size: 22px;
  line-height: 1;
}
.header-phone-callback {
  font-size: 14px;
  border-bottom: 1px solid #ffffff;
}
.header-phone-callback:hover {
  border-color: transparent;
}
.callback {
  outline: none;
}
.promo {
  position: relative;
  padding: 60px 0 100px;
  color: #ffffff;
  background: url('../img/bg-header.jpg') no-repeat center top;
  background-size: cover;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
}
.promo-content,
.promo-form {
  width: 50%;
}
.promo-content {
  padding-top: 15px;
  padding-left: 25px;
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.6s linear;
}
.promo-content.visible {
  transform: translateX(0);
  opacity: 1;
}
.promo-title {
  margin: 0 0 35px;
  padding: 30px 0 30px 30px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 26px;
  border-top: 1px solid #f5dc03;
  border-bottom: 1px solid #f5dc03;
}
.promo-title b {
  color: #f5dc03;
  text-transform: uppercase;
}
.promo-advantage-single {
  margin-bottom: 45px;
}
.promo-advantage-single img,
.promo-advantage-single figcaption {
  display: inline-block;
  vertical-align: middle;
}
.promo-advantage-single img {
  width: 65px;
  height: auto;
}
.promo-advantage-single figcaption {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 21px;
  padding-left: 35px;
}
.promo-advantage-single:last-child {
  margin-bottom: 0;
}
.promo-services {
  margin-left: 35px;
  padding: 5px 0;
}
.promo-services ul {
  margin: 0;
  padding: 0;
  padding-left: 65px;
  list-style-type: square;
  border-left: 1px solid #f5dc03;
}
.promo-services li {
  margin-bottom: 10px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 23px;
  color: #f5dc03;
}
.promo-services li:last-child {
  margin-bottom: 0;
}
.promo-services span {
  color: #ffffff;
}
.promo-form {
  color: #ffffff;
  position: relative;
  transform: translateX(100px);
  opacity: 0;
  transition: all 0.6s linear;
}
.promo-form.visible {
  transform: translateX(0);
  opacity: 1;
}
.promo-form form {
  width: 445px;
  padding: 50px 20px 30px;
  background: #222222;
  border: 3px solid #dcc503;
  border-radius: 20px;
}
.promo-form .form-title {
  margin: 0 0 30px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.80pt;
  text-align: center;
  text-transform: uppercase;
}
.promo-form input[type=text],
.promo-form input[type=tel],
.promo-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 18px 30px;
  font-size: 17px;
  color: #ffffff;
  background: #333333;
  border: none;
}
.promo-form input[type=text]::-webkit-input-placeholder,
.promo-form input[type=tel]::-webkit-input-placeholder,
.promo-form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]::-moz-placeholder,
.promo-form input[type=tel]::-moz-placeholder,
.promo-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]:-moz-placeholder,
.promo-form input[type=tel]:-moz-placeholder,
.promo-form textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form input[type=text]:-ms-input-placeholder,
.promo-form input[type=tel]:-ms-input-placeholder,
.promo-form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-style: italic;
}
.promo-form textarea {
  min-height: 120px;
  resize: none;
}
.promo-form input[type=submit] {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 13px 0;
  font-size: 22px;
  color: #222222;
  background-image: -moz-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  background-image: -webkit-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  background-image: -ms-linear-gradient(90deg, #c0b213 0%, #ffe400 100%);
  border: none;
  border-radius: 20px;
  text-align: center;
}
.promo-form input[type=submit]:hover {
  background-image: -moz-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
  background-image: -webkit-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
  background-image: -ms-linear-gradient(90deg, #ffe400 0%, #c0b213 100%);
}
.promo-form input[type=submit]:active {
  position: relative;
  top: 2px;
}
.block-title {
  position: relative;
  margin: 0;
  padding: 30px 0 0;
  font-family: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: 0.07em;
}
.block-title:before,
.block-title:after {
  content: '';
  left: 0;
  position: absolute;
  height: 2px;
}
.block-title:before {
  top: 0;
  width: 90px;
  background: #f5dc03;
}
.block-title:after {
  top: 15px;
  width: 210px;
  background: #000000;
}
.index-double {
  padding: 80px 0;
  background: url('../img/bg-double.jpg') repeat-y left 38px top;
  background-size: 100% auto;
}
.index-double strong {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 19px;
}
.index-double-about,
.index-double-advantages {
  width: 50%;
}
.index-double-about {
  padding-right: 70px;
}
.index-double-advantages {
  padding-left: 70px;
  color: #ffffff;
}
.index-double-advantages .block-title:after {
  background: #ffffff;
}
.advantages-list {
  position: relative;
  margin-top: 25px;
}
.advantages-line {
  position: absolute;
  top: 0;
  left: 42px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}
.advantage-single {
  position: relative;
  margin-bottom: 45px;
}
.advantage-single .advantage-img,
.advantage-single p {
  display: inline-block;
  vertical-align: middle;
}
.advantage-single:last-child {
  margin-bottom: 0;
}
.advantage-single:nth-of-type(2) img {
  margin-left: 25px;
}
.advantage-single p {
  margin: 0;
  padding-left: 15px;
  position: relative;
  right: -70px;
  opacity: 0;
  transition: all 0.7s ease;
}
.advantage-single p.visible {
  right: 0;
  opacity: 1;
}
.advantage-img {
  position: relative;
  width: 85px;
  height: 85px;
  background: #222222;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.7s ease;
  transform-origin: center center;
}
.advantage-img.visible {
  transform: scale(1);
}
.advantage-img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.index-slider {
  position: relative;
  padding: 75px 0;
  background: url('../img/bg-slider.jpg') no-repeat center top;
  background-size: cover;
}
.index-slider .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.94);
}
.slide-img,
.slide-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.slide-img {
  width: 580px;
}
.slide-img img {
  display: block;
  max-width: 100%;
  height: auto;
}
.slide-content {
  width: calc(100% - 580px);
  width: -webkit-calc(100% - 580px);
  width: -moz-calc(100% - 580px);
  width: -o-calc(100% - 580px);
  width: -ms-calc(100% - 580px);
  padding-left: 70px;
  padding-right: 50px;
}
.slide-content p:last-of-type {
  margin-bottom: 0;
}
.slide-title {
  margin: 0 0 30px;
  padding: 0 0 10px;
  position: relative;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 34px;
}
.slide-title a {
  color: #000000;
}
.slide-title a:hover {
  color: #333333;
}
.slide-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 345px;
  background: #000000;
}
.slick-slide {
  outline: none !important;
}
.slick-dots {
  position: absolute;
  right: 3.125%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: block;
  width: 18px;
  height: 18px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-bottom: 0;
}
.slick-dots li.slick-active {
  background: #000000;
}
.index-portfolio .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.index-portfolio .block-title,
.index-portfolio .index-portfolio-content {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.index-portfolio-content {
  max-width: 930px;
  padding-left: 100px;
  text-align: justify;
}
.index-portfolio .portfolio-single {
  width: 20%;
  padding: 0;
}
.index-contacts {
  font-size: 20px;
}
.index-contacts .container {
  padding: 75px 0;
}
.index-contacts .block-title {
  margin-bottom: 55px;
}
.index-contacts .fa {
  margin-right: 15px;
  font-size: 38px;
  color: rgba(0, 0, 0, 0.34);
  vertical-align: middle;
}
.index-contacts strong {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.index-contacts a {
  display: block;
  margin-left: 33px;
  color: #000000;
}
.index-contacts p {
  margin: 0;
}
.contacts-shedule strong,
.contacts-phones strong {
  display: block;
}
.contacts-shedule p,
.contacts-phones p {
  margin-left: 49px;
}
p.contacts-map {
  margin-top: 35px;
}
.contacts-shedule {
  margin-left: 60px;
}
.contacts-shedule,
.contacts-phones,
.contacts-map {
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.7s linear;
}
.contacts-shedule.visible,
.contacts-phones.visible,
.contacts-map.visible {
  left: 0;
  opacity: 1;
}
.index-contacts-form {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: 0;
  opacity: 0;
  transition: all 0.7s linear;
}
.index-contacts-form.visible {
  opacity: 1;
  bottom: -200px;
}
.index-contacts-form .form-title {
  font-size: 20px;
  text-transform: none;
}
footer {
  padding: 25px 0;
  background: #222222;
}
.footer-phone,
.footer-info,
.footer-developer {
  display: inline-block;
  width: 33.333333333333%;
  margin-right: -4px;
  vertical-align: middle;
}
.footer-phone {
  text-align: left;
}
.footer-phone .header-phone-tel {
  color: #f5dc03;
}
.footer-info {
  text-align: center;
  font-family: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.49);
}
.footer-developer {
  padding-top: 7px;
  text-align: right;
}
.footer-developer img {
  display: inline-block;
}
.container-inner {
  position: relative;
  width: 910px;
  margin: 0 auto;
  padding: 0;
}
body.text-page {
  background: url('../img/bg-page.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.text-page-content {
  padding-top: 50px;
}
.text-page-content .container {
  background: #ffffff;
  padding-bottom: 25px;
}
.text-page-content img {
  max-width: 100%;
  height: auto;
}
.text-page-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-page-content ul li {
  font-size: 20px;
}
.text-page-content strong,
.text-page-content b {
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 19px;
}
.text-page-content p:first-child {
  margin-top: 0;
}
.text-page-content p:last-child {
  margin-bottom: 0;
}
.text-page-img {
  position: relative;
  min-height: 136px;
}
.text-page-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 30px 0 20px;
  background: rgba(255, 255, 255, 0.88);
}
.text-page-title .block-title {
  width: 910px;
  margin: 0 auto;
}
.contacts-page-content .container {
  padding-top: 160px;
}
.contacts-page-content .contacts-phones,
.contacts-page-content .contacts-shedule,
.contacts-page-content .contacts-map {
  opacity: 1;
  left: 0;
  transition: none;
}
.contacts-page-content .promo-form {
  transform: translateX(0);
  bottom: -200px;
  opacity: 1;
  transition: none;
}
.portfolio-page-content .block-title {
  margin-left: 25px;
}
.portfolio-page-content .container {
  padding-bottom: 18px;
}
.portfolio-list {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 43px;
}
.portfolio-single {
  float: left;
  width: 33.333333333%;
  padding: 7px;
}
.portfolio-single img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-single-inner {
  position: relative;
}
.portfolio-hover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.72);
  text-align: center;
}
.portfolio-single:hover .portfolio-hover {
  display: block;
}
.top-decor,
.right-decor,
.bottom-decor,
.left-decor {
  position: absolute;
  background: #f5dc03;
}
.top-decor,
.bottom-decor {
  width: 80px;
  height: 2px;
}
.right-decor,
.left-decor {
  width: 2px;
  height: 80px;
}
.top-decor {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.right-decor {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.bottom-decor {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.left-decor {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.hover-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 22px;
  transform: translateY(-50%);
  font-size: 20px;
}
.portfolio-single-title {
  margin-top: 5px;
  font-weight: 400;
}
.catalog-page-content {
  padding: 75px 0;
}
.catalog-sidebar {
  width: 290px;
}
.catalog-content {
  width: 990px;
  padding-left: 40px;
  padding-top: 40px;
}
.catalog-menu {
  margin-top: 15px;
}
.catalog-menu a {
  display: block;
  padding: 5px 0;
  font-size: 23px;
  color: #000000;
}
.catalog-menu a:hover {
  text-decoration: underline;
}
.catalog-menu a.current {
  position: relative;
  padding: 5px 10px;
  color: #ffffff;
  background: #333333;
  text-decoration: none;
  border-left: 5px solid #f5dc03;
}
.catalog-menu a.current:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f5dc03;
  right: 15px;
  top: 50%;
  margin-top: -5px;
}
.catalog-submenu {
  display: none;
  padding: 5px 0;
}
.catalog-submenu a {
  font-size: 19px;
  padding-left: 25px;
}
.catalog-submenu a.current {
  padding-left: 20px;
}
.submenu-visible {
  display: block;
}
.item-img {
  position: relative;
  width: 440px;
  height: 350px;
  overflow: hidden;
}
.item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.item-info {
  width: 510px;
  padding-left: 40px;
}
.breadcrumbs {
  margin-top: -5px;
  font-size: 17px;
}
.breadcrumbs,
.breadcrumbs a {
  color: rgba(0, 0, 0, 0.53);
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 0px;
  vertical-align: top;
}
.breadcrumbs li:after {
  content: '/';
  margin-left: 4px;
}
.breadcrumbs li:last-child:after {
  content: none;
}
.breadcrumbs a:hover {
  color: #000000;
}
.item-title {
  margin: 0 0 5px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 29px;
}
.item-desc p {
  margin: 15px 0;
  font-size: 18px;
}
.item-desc p:first-child {
  margin-top: 0;
}
.item-desc-full {
  display: none;
}
.item-desc.full-content .item-desc-full {
  display: block;
}
.item-desc-more {
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  color: #000000;
  border-bottom: 1px dashed #333333;
}
.item-desc-more:hover {
  color: #333333;
}
.item-list {
  margin-top: 50px;
  margin-left: -16px;
  margin-right: -16px;
}
.item-list-title {
  padding-left: 16px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.item-single {
  position: relative;
  float: left;
  width: 33.333333333%;
  padding: 16px;
  color: #ffffff;
}
.item-single img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.item-single:hover .item-single-title {
  color: #f5dc03;
}
.item-single:hover .item-single-desc {
  height: 20px;
  opacity: 1;
}
.item-single:hover img {
  transform: scale(1.1);
}
.item-single-inner {
  position: relative;
  overflow: hidden;
}
.item-single-overlay {
  display: none;
}
.item-single-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  background: #333333;
  z-index: 1;
}
.item-single-price {
  display: block;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.item-single-desc {
  display: block;
  font-size: 16px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.single-item-content .item-info {
  width: 480px;
  padding-left: 0;
}
.single-item-content .item-img {
  width: 430px;
  height: auto;
  overflow: inherit;
}
.single-item-content .item-img img {
  position: static;
  max-width: 100%;
  height: auto;
}
.item-gallery {
  margin-left: -5px;
  margin-right: -5px;
}
.item-gallery a {
  float: left;
  width: 25%;
  padding: 5px;
}
.item-order {
  padding: 15px;
  color: #ffffff;
  background: #222222;
  border-radius: 5px;
}
.item-order-price {
  padding-left: 15px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 23px;
  line-height: 46px;
}
.item-order-button {
  width: 190px;
  padding: 9px 0;
  font-size: 20px;
  text-align: center;
  color: #f5dc03;
  background: #333333;
  border-radius: 5px;
  border: 1px solid #000000;
}
.item-order-button:hover {
  color: #000000;
  background: #f5dc03;
  border-color: #f5dc03;
}
.popup {
  position: relative;
  max-width: 505px;
  margin: 0 auto;
  padding: 20px 30px;
  color: #ffffff;
  background: #222222;
  border-radius: 10px;
}
.popup .form-title {
  margin: 0 0 25px;
  font-family: 'PT Sans Caption', 'Open Sans Bold', sans-serif;
  font-size: 23px;
}
.popup input[type=text],
.popup input[type=tel] {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.2);
  background: #333333;
  border: none;
  border-radius: 5px;
}
.popup input[type=text]::-webkit-input-placeholder,
.popup input[type=tel]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]::-moz-placeholder,
.popup input[type=tel]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]:-moz-placeholder,
.popup input[type=tel]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=text]:-ms-input-placeholder,
.popup input[type=tel]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}
.popup input[type=submit] {
  display: block;
  width: 100%;
  width: calc(100% + 60px);
  width: -webkit-calc(100% + 60px);
  width: -moz-calc(100% + 60px);
  width: -o-calc(100% + 60px);
  width: -ms-calc(100% + 60px);
  margin: 0 auto;
  margin-top: 30px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -20px;
  padding: 20px 0;
  background: #111111;
  border: none;
  border-radius: 0 0 10px 10px;
}
.popup input[type=submit]:hover {
  color: #000000;
  background: #f5dc03;
}
.mfp-bg {
  background: #ffffff;
  opacity: 0.89;
}
.mfp-close-btn-in .mfp-close {
  color: #f5dc03;
}
@media screen and (max-width: 1310px) {
  .container {
    width: 1000px;
  }
  .top-panel .top-panel-map,
  .top-panel .top-panel-phone {
    margin-left: 50px;
  }
  .header-menu {
    margin-left: 35px;
  }
  .header-menu li {
    margin-right: 35px;
  }
  .promo-advantages {
    float: none;
  }
  .promo-services {
    display: none;
  }
  .advantage-single p {
    max-width: 330px;
  }
  .advantage-single p br {
    display: none;
  }
  .slide-img {
    width: 480px;
  }
  .slide-content {
    width: calc(100% - 480px);
    width: -webkit-calc(100% - 480px);
    width: -moz-calc(100% - 480px);
    width: -o-calc(100% - 480px);
    width: -ms-calc(100% - 480px);
    padding-left: 50px;
  }
  .index-portfolio-content {
    max-width: 805px;
  }
  .index-portfolio .portfolio-single {
    width: 25%;
  }
  .index-portfolio .hover-content {
    font-size: 19px;
  }
  p.contacts-map {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  p {
    font-size: 18px;
  }
  .animate {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: none;
    opacity: 1;
  }
  .container-inner {
    width: 100%;
  }
  .top-panel-map,
  .top-panel-shedule {
    display: none;
  }
  .top-panel .top-panel-email,
  .top-panel .top-panel-phone {
    display: block;
    float: none;
    margin: 0;
  }
  .top-panel .top-panel-email {
    margin-bottom: 10px;
  }
  .header-logo,
  .header-menu,
  .header-phone {
    display: block;
    float: none;
    margin: 0;
  }
  .header-logo {
    float: left;
    width: 150px;
    margin-top: 4.5px;
  }
  .header-menu:not(.opened) {
    display: none;
  }
  .header-menu {
    margin-top: 20px;
    padding-top: 0;
  }
  .header-menu li {
    display: block;
    margin: 0 0 10px;
  }
  .header-menu li:last-child {
    margin-bottom: 0;
  }
  .header-menu a {
    font-size: 18px;
  }
  .mobile-menu,
  .mobile-clearfix {
    display: block;
  }
  .header-phone {
    margin-top: 20px;
    text-align: left;
  }
  .header-phone-tel {
    margin-bottom: 7px;
  }
  .promo {
    padding: 50px 0;
  }
  .promo-content,
  .promo-form {
    float: none;
    width: 100%;
  }
  .promo-content {
    padding: 0;
  }
  .promo-title {
    padding-left: 0;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .promo-advantages {
    text-align: left;
  }
  .promo-advantage-single {
    margin-bottom: 30px;
  }
  .promo-advantage-single img,
  .promo-advantage-single figcaption {
    display: block;
    margin: 0;
  }
  .promo-advantage-single img {
    width: auto;
    height: auto;
  }
  .promo-advantage-single figcaption {
    margin-top: 10px;
    padding-left: 0;
    font-size: 19px;
  }
  .promo-form {
    margin-top: 60px;
  }
  .promo-form form {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
  }
  .block-title {
    font-size: 36px;
  }
  .index-double {
    padding: 0;
    background: none;
  }
  .index-double .container {
    padding: 0;
  }
  .index-double strong {
    font-size: 17px;
  }
  .index-double-about,
  .index-double-advantages {
    float: none;
    width: 100%;
    padding: 50px 15px;
  }
  .index-double-about p:last-child {
    margin-bottom: 0;
  }
  .index-double-advantages {
    background: #222222;
  }
  .advantages-line {
    display: none;
  }
  .advantage-single {
    margin-bottom: 30px;
  }
  .advantage-single p {
    display: block;
    max-width: none;
    margin-top: 10px;
    padding-left: 0;
  }
  .index-slider {
    padding: 50px 0;
  }
  .slide-img,
  .slide-content {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .slide-content {
    margin-top: 10px;
    padding-right: 30px;
  }
  .slide-title {
    font-size: 28px;
  }
  .slide-title:after {
    width: 100%;
  }
  .index-portfolio .container {
    padding: 50px 15px 15px;
  }
  .index-portfolio-content {
    max-width: none;
    padding-left: 0;
  }
  .index-portfolio .portfolio-single {
    float: none;
    display: block;
    width: 100%;
  }
  .hover-content {
    padding: 22px;
  }
  .index-contacts {
    font-size: 18px;
  }
  .index-contacts .container {
    padding: 50px 15px;
  }
  .index-contacts .block-title {
    margin-bottom: 25px;
  }
  .index-contacts-form {
    position: static;
    float: none;
  }
  .contacts-phones,
  .contacts-shedule,
  .contacts-map {
    float: none;
    width: 100%;
    display: block;
    margin: 30px 0 0;
  }
  .contacts-phones a,
  .contacts-shedule a,
  .contacts-map a,
  .contacts-phones p,
  .contacts-shedule p,
  .contacts-map p {
    margin-left: 0;
  }
  p.contacts-map {
    width: 100%;
  }
  ymaps[id] {
    height: 250px !important;
  }
  .footer-developer,
  .footer-info,
  .footer-phone {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .footer-info {
    margin: 25px 0;
  }
  .footer-developer {
    padding-top: 0;
    margin-bottom: 0;
  }
  .footer-developer img {
    display: block;
    margin: 0 auto;
    width: 150px;
  }
  .popup {
    padding: 15px;
  }
  .popup input[type=submit] {
    width: calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: -ms-calc(100% + 30px);
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 15px 0;
  }
  .text-page-content {
    padding: 0;
  }
  .text-page-content ul li {
    margin: 0 0 5px;
    font-size: 18px;
  }
  .text-page-content ul li:last-child {
    margin-bottom: 0;
  }
  .text-page-img {
    min-height: 0;
  }
  .text-page-img img {
    display: none;
  }
  .text-page-title {
    position: static;
    padding: 50px 0 25px;
  }
  .text-page-title .block-title {
    width: 100%;
  }
  .portfolio-page-content .block-title {
    margin-left: 0;
  }
  .portfolio-page-content .container {
    padding-bottom: 25px;
  }
  .portfolio-list {
    padding: 0;
  }
  .portfolio-single {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .portfolio-single:last-child {
    margin-bottom: 0;
  }
  .hover-content {
    font-size: 19px;
  }
  .catalog-page-content {
    padding: 50px 0 25px;
  }
  .catalog-sidebar,
  .catalog-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .catalog-menu {
    margin-top: 20px;
  }
  .catalog-menu a {
    font-size: 18px;
  }
  .catalog-submenu a {
    font-size: 16px;
  }
  .catalog-content {
    margin-top: 25px;
  }
  .item-img {
    width: 100%;
    height: auto;
    overflow: inherit;
  }
  .item-img img {
    position: static;
  }
  .item-info {
    width: 100%;
    margin-top: 10px;
    padding-left: 0;
  }
  .item-list {
    margin: 50px 0 0;
  }
  .item-list-title {
    margin: 0 0 15px;
    padding-left: 0;
  }
  .item-single {
    float: none;
    display: block;
    width: 100%;
    margin: 0 0 15px;
    padding: 0;
  }
  .item-single:last-child {
    margin-bottom: 0;
  }
  .single-item-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .single-item-content .item-info,
  .single-item-content .item-img {
    width: 100%;
  }
  .item-order {
    text-align: center;
  }
  .item-order-price {
    float: none;
    padding-left: 0;
    font-size: 20px;
    line-height: normal;
  }
  .item-order-button {
    margin-top: 10px;
    width: 100%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header-menu li {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  .header-menu li:last-child {
    margin: 0;
  }
  .promo-advantage-single {
    float: left;
    width: 33.333333333%;
  }
  .promo-advantage-single:nth-of-type(1) figcaption {
    margin-top: 27px;
  }
  .promo-form form {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  .advantage-single {
    float: left;
    width: 50%;
  }
  .slide-img img {
    margin: 0 auto;
  }
  .index-portfolio .portfolio-single {
    float: left;
    width: 50%;
    margin: 0;
  }
  .contacts-phones,
  .contacts-shedule {
    float: left;
    width: auto;
  }
  .contacts-shedule {
    margin-left: 60px;
  }
  ymaps[id] {
    height: 450px !important;
  }
  .portfolio-single {
    float: left;
    width: 50%;
    margin: 0;
  }
  .item-single {
    float: left;
    width: 50%;
    margin: 0;
  }
}
