// #catalog page
.catalog-page-content {
    padding: 75px 0;
}

.catalog-sidebar {
    width: 290px;
}

.catalog-content {
    width: 990px;
    padding-left: 40px;
    padding-top: 40px;
}

.catalog-menu {
    margin-top: 15px;

    a {
        display: block;
        padding: 5px 0;
        font-size: 23px;
        color: @black;

        &:hover {
            text-decoration: underline;
        }
    }

    a.current {
        position: relative;
        padding: 5px 10px;
        color: @white;
        background: lighten(@dark, 6.5%);
        text-decoration: none;
        border-left: 5px solid @yellow;

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background: @yellow;
            right: 15px;
            top: 50%;
            margin-top: -5px;
        }
    }
}

.catalog-submenu {
    display: none;
    padding: 5px 0;

    a {
        font-size: 19px;
        padding-left: 25px;
    }

    a.current {
        padding-left: 20px;
    }
}

.submenu-visible {
    display: block;
}

// #catalog content
.item-img {
    position: relative;
    width: 440px;
    height: 350px;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}

.item-info {
    width: 510px;
    padding-left: 40px;
}

.breadcrumbs {
    margin-top: -5px;
    font-size: 17px;

    &, a {
        color: fade(@black, 53%);
    }

    li {
        display: inline-block;
        margin-right: 0px;
        vertical-align: top;

        &:after {
            content: '/';
            margin-left: 4px;
        }
        &:last-child:after {
            content: none;
        }
    }

    a:hover {
        color: @black;
    }
}

.item-title {
    margin: 0 0 5px;
    font-family: @ptsanscaption;
    font-weight: 400;
    font-size: 29px;
}

.item-desc {

    p {
        margin: 15px 0;
        font-size: 18px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.item-desc-full {
    display: none;
}
.item-desc.full-content .item-desc-full {
    display: block;
}

.item-desc-more {
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    color: @black;
    border-bottom: 1px dashed lighten(@dark, 6.5%);

    &:hover {
        color: lighten(@dark, 6.5%);
    }
}

.item-list {
    margin-top: 50px;
    margin-left: -16px;
    margin-right: -16px;
}

.item-list-title {
    padding-left: 16px;
    font-family: @ptsanscaption;
    font-size: 20px;
    font-weight: 700;
}

.item-single {
    position: relative;
    float: left;
    width: 33.333333333%;
    padding: 16px;
    color: @white;

    img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
    }

    &:hover {

        .item-single-title {
            color: @yellow;
        }

        .item-single-desc {
            height: 20px;
            opacity: 1;
        }

        // .item-single-overlay {
        //     opacity: 1;
        // }

        img {
            transform: scale(1.1);
        }
    }
}

.item-single-inner {
    position: relative;
    overflow: hidden;
}

.item-single-overlay {
    display: none;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // opacity: 0;
    // background: fade(@yellow, 30%);
    // transition: all 0.5s ease;
    // z-index: 1;
}

.item-single-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
    background: lighten(@dark, 6.5%);
    z-index: 1;
}

.item-single-price {
    display: block;
    font-family: @ptsanscaption;
    font-weight: 700;
}

.item-single-desc {
    display: block;
    font-size: 16px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

// #single good page
.single-item-content {

    .item-info {
        width: 480px;
        padding-left: 0;
    }

    .item-img {
        width: 430px;
        height: auto;
        overflow: inherit;

        img {
            position: static;
            max-width: 100%;
            height: auto;
        }
    }
}

.item-gallery {
    margin-left: -5px;
    margin-right: -5px;

    a {
        float: left;
        width: 25%;
        padding: 5px;
    }
}

.item-order {
    padding: 15px;
    color: @white;
    background: @dark;
    border-radius: 5px;
}

.item-order-price {
    padding-left: 15px;
    font-family: @ptsanscaption;
    font-size: 23px;
    line-height: 46px;
}

.item-order-button {
    width: 190px;
    padding: 9px 0;
    font-size: 20px;
    text-align: center;
    color: @yellow;
    background: lighten(@dark, 6.5%);
    border-radius: 5px;
    border: 1px solid @black;

    &:hover {
        color: @black;
        background: @yellow;
        border-color: @yellow;
    }
}
