.contacts-page-content {

    .container {
        padding-top: 160px;
    }

    .contacts-phones,
    .contacts-shedule,
    .contacts-map {
        opacity: 1;
        left: 0;
        transition: none;
    }

    .promo-form {
        transform: translateX(0);
        bottom: -200px;
        opacity: 1;
        transition: none;
    }
}
