// #text page
.container-inner {
    position: relative;
    width: 910px;
    margin: 0 auto;
    padding: 0;
}

body.text-page {
    background: url('../img/bg-page.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.text-page-content {
    padding-top: 50px;

    .container {
        background: @white;
        padding-bottom: 25px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            font-size: 20px;
        }
    }

    strong, b {
        font-family: @ptsanscaption;
        font-weight: 700;
        font-size: 19px;
    }

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.text-page-img {
    position: relative;
    min-height: 136px;
}

.text-page-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 0 20px;
    background: fade(@white, 88%);

    .block-title {
        width: 910px;
        margin: 0 auto;
    }
}
