// #portfolio page
.portfolio-page-content {

    .block-title {
        margin-left: 25px;
    }

    .container {
        padding-bottom: 18px;
    }
}

.portfolio-list {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 43px;
}

.portfolio-single {
    float: left;
    width: 33.333333333%;
    padding: 7px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.portfolio-single-inner {
    position: relative;
}

.portfolio-hover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: @white;
    background: fade(@black, 72%);
    text-align: center;
}

.portfolio-single:hover .portfolio-hover {
    display: block;
}

.top-decor,
.right-decor,
.bottom-decor,
.left-decor {
    position: absolute;
    background: @yellow;
}

.top-decor,
.bottom-decor {
    width: 80px;
    height: 2px;
}
.right-decor,
.left-decor {
    width: 2px;
    height: 80px;
}
.top-decor {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.right-decor {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.bottom-decor {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.left-decor {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.hover-content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 22px;
    transform: translateY(-50%);
    font-size: 20px;
}

.portfolio-single-title {
    margin-top: 5px;
    font-weight: 400;
}
