.popup {
    position: relative;
    max-width: 505px;
    margin: 0 auto;
    padding: 20px 30px;
    color: @white;
    background: @dark;
    border-radius: 10px;

    .form-title {
        margin: 0 0 25px;
        font-family: @ptsanscaption;
        font-size: 23px;
    }

    input[type=text],
    input[type=tel] {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px 30px;
        font-size: 17px;
        color: fade(@white, 20%);
        background: lighten(@dark, 6.5%);
        border: none;
        border-radius: 5px;

        &::-webkit-input-placeholder { color: fade(@white, 20%); }
        &::-moz-placeholder          { color: fade(@white, 20%); }
        &:-moz-placeholder           { color: fade(@white, 20%); }
        &:-ms-input-placeholder      { color: fade(@white, 20%); }
    }

    input[type=submit] {
        display: block;
        width: 100%;
        width: ~"calc(100% + 60px)";
        width: ~"-webkit-calc(100% + 60px)";
        width: ~"-moz-calc(100% + 60px)";
        width: ~"-o-calc(100% + 60px)";
        width: ~"-ms-calc(100% + 60px)";
        margin: 0 auto;
        margin-top: 30px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: -20px;
        padding: 20px 0;
        background: lighten(@black, 6.5%);
        border: none;
        border-radius: 0 0 10px 10px;

        &:hover {
            color: @black;
            background: @yellow;
        }
    }
}

.mfp-bg {
    background: @white;
    opacity: 0.89;
}

.mfp-close-btn-in .mfp-close {
    color: @yellow;
}
